output.elasticsearch:
  hosts: ["http://{{ hostvars['el-instance']['ansible_facts']['default_ipv4']['address'] | default('51.250.7.20') }}:9200"]
setup.kibana.host: "http://{{ hostvars['ki-instance']['ansible_facts']['default_ipv4']['address'] | default('51.250.4.56') }}:5601"
filebeat.config.modules.path: ${path.config}/modules.d/*.yml
